
  
  <mat-toolbar>
    <span>Crear usuario</span>
  </mat-toolbar>

  <mat-card style="width: 60%; margin: 0 auto; margin-top: 15px; height: 400px;">

    <form [formGroup]="form" (ngSubmit)="agregarUsuario()">
       <div class="formulario">
      <div style="width: 50%; text-align: center;">
        <mat-form-field class="ancho">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="usuario">
        </mat-form-field>
        <mat-form-field class="ancho">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre">
        </mat-form-field>
        <mat-form-field class="ancho">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido">
        </mat-form-field>

        <mat-form-field class="ancho">
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="sexo">
            <mat-option *ngFor="let item of sexo" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br><br>
        <div style="display: flex; justify-content: space-around;">
          <button style="width: 30%;" mat-raised-button>Volver</button>
          <button type="submit" [disabled]="form.invalid" style="width: 30%;" mat-raised-button color="primary">Aceptar</button>

        </div>
      </div>
      <div style="width: 50%;text-align: center;">
        <img style="height: 50%;" src="../../../../../assets/imgs/usuario.png" alt="imagen">
      </div>

    </div>
    </form>
   

  </mat-card>

